.layout {
  background: rgb(155, 155, 155);
  width: 80vw;
  padding: 1vw 1vw 1vw 1vw;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navRightCol {
  display: flex;
  justify-content: space-between;
}

.popoutForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  background: rgb(56, 103, 125);
  display: flex;
  flex-direction: column;
}