.layout {
    max-width: 1600px;
    margin: 0px auto;
    padding: 2rem var(--side-padding) 0;
    min-height: calc(100vh);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 10px;
}

.post svg {
    font-size: 50px;
    cursor: pointer;
    border: 2px black solid;
}

.post svg:hover {
    background:rgb(141, 141, 141);
}